.work,
.recommendations {
    background-color: #506346;
}
.menu li {
    display: inline-block;
}
.menu {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #506346;
}
.menu a {
    color: #ECE6D2;
    text-decoration: none;
    padding: 20px 30px;
    display: inline-block;
}
.menu a:hover,
.menu a:focus,
.menu a:active {
    text-decoration: underline #CC9D9A 3px;
}
h1 {
    color: #CC9D9A;
    margin: 0;
    font-size: 80px;
    font-weight: 200;
}
.header { 
    background-repeat: no-repeat;
    background-position: right;
    background-color: #506346;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative;
}
.name {
    color: #b26059;
    font-family: "Shadows Into Light", cursive;
    font-weight: 800;
    font-style: normal;
    font-size: 130px;
}
h2 {
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 15px;
    color: #b26059; 
    padding: 20px;
    margin: 0 0 50px 0;
    border: #CC9D9A 2px solid;
    display: inline-block;
}
body {
    color:#ECE6D2;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #4A5B41;
    margin: 0;
    font-size: 18px;
}
footer {
    background-color: #506346;
    text-align: center;
    padding: 20px 0;
}
h3 {
    color: #B26059;
    font-weight: 500;
    font-size: 25px;
    padding: 30px 0 0 0;
}
h1,
.name {
    flex-grow: 1;
    text-align: left;
    padding-left: 20px;
}
header img {
    width: 850px;
    height: auto;
}
.about,
.work,
.certification,
.recommendations,
.contact {
    padding: 80px 250px 100px 250px;
    overflow: auto;
}
.targito-foto {
    width: 100px;
}
.donio-foto {
    width: 100px;
}
.digitoo-foto {
    width: 100px;
}
.favi-foto {
    width: 100px;
}
.bonami-foto {
    width: 100px;
}
h4 {
    color:#B26059;
    font-weight: 300;
    font-size: 20px;
}
.italic {
    font-style:italic;
}
hr {
    border: 1px #CC9D9A solid ; 
}
li::marker {
    color: #CC9D9A;
}
.centred {
    text-align: center;
}
body a {
    color: #CC9D9A;
    text-decoration: none;
}
body a:hover,
body a:focus,
body a:active {
    text-decoration: underline #B26059 1px; 
}
.left-img {
    float: left;
    margin-right: 100px;
    width: 300px;
    overflow: auto;
}
.right-img {
    float: right;
    width: 300px;
    overflow: auto;
}
.about p {
    margin-top: 0px;
}
.text_about {
    margin-top: 50px;
}
.certification li {
    margin-top: 40px;
}
.contact p {
    margin-top: 50px;
}
.certification a {
    font-style: italic;
}